<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Tells the browser which character encoding to use -->
    <meta charset="UTF-8">

    <!-- Makes the webpage display properly on phones and computers -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- The title shown on the browser tab -->
    <title>MindLock</title>
</head>

<body>

    <!-- Main heading of the MindLock homepage -->
    <h1>Welcome to MindLock!</h1>

    <!-- Short description of what MindLock does -->
    <p>Your study management and focus companion.</p>
    <a href="/sessions/create">Create a Study Session </a>
</body>

</html>